header{
    height: 250px;
    background-color: burlywood;
}
main{
 height: auto;
    background-color: bisque;
}
footer{
   height: 220px;
    background-color:rgb(244, 232, 215);
}
ul{
    list-style-type: none;
}
li{
    color: white;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}